.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  width: 60%;
  height: 60%;
}

.svgCircleWrapper {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
